body {
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar img {
    height: 50px;
    margin:10px;
}

#map {
    width: 100vw;
    height: calc(100vh - 100px);
    cursor: pointer;
    z-index: 0;
}

:root  {
    --black:#000;
    --light:#ddd;
    --white:#fff;
    --primary:#f87217;
}

body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}


.toggler-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.toggler-header  > * {
    pointer-events: none;
}

.toggler-header.active span {
    transform: rotate(90deg);
}

.toggler-header > span {
    margin-right: 0.5rem;
}

.main-section {
    overflow: hidden;
    height: 0px;
    transition: height 0.1s linear;
}

.main-section.active {
    height: fit-content;
    border-top: 2px solid #9c9d9d;
}


.main-section .tabs-body {
    max-height: 35vh;
    min-height: 180px;
    overflow-y: auto;
}

.layers-container .main-section.active {
    height: fit-content;
    max-height: 75vh;
}

.sub-section {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.info-container {
    position: absolute;
    bottom: 15px;
    right: 0px;
    margin: 10px;
    z-index: 2;
    background-color: #000000c3;
    color: var(--white);
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 0.25rem #999;
}

.info-container .tabs-section {
    display: flex;
    padding:0px;
    border-bottom: 1px solid #939393;
}

.tabs-section .tab {
    flex: 1;
    padding:5px;
    color:#7d7d7d;
    cursor: pointer;
}

.tab > * {
    pointer-events: none;
}

.tabs-section .tab.active {
    color:#fff;
    background-color: #939393;;
}

.tab_inner_item {
    font-size: 0.875rem;
    max-height: 50vh;
    height: fit-content;
}

.tab_inner_item .tab-title {
    text-transform: uppercase;
    margin: 0.5rem;
}

.info-click-feature {
    border-left: 1px solid #939393;
    margin:0.5rem;
    padding:0 8px;
    font-weight: 500;
}

.info-click-feature-attribute {
    display: block;
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: 4px;
    width: 100%;
}

.info-click-feature-attribute-value {
    font-size: 0.8rem;
}

/* LAYERS CONTAINER */
.layers-container {
    position: absolute;
    top: 0px;
    left: 60px;
    margin: 10px;
    z-index: 3;
    background-color: #000000c3;
    color: var(--white);
    /* width: 38vw; */
    width:350px;
    height: auto;
   
    border-radius: 5px;
    box-shadow: 0px 0px 0.25rem #999;
}

/* .layers-container span i {
    color:var(--primary);
} */

.collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px 0px 5px;
    cursor: pointer;
    /* margin-bottom: 4px; */
    border-bottom: 0.01px solid #717171;
}

.collapse-toggler > * {
    pointer-events: none;
}

.collapse-toggler span {
    /* color:var(--primary); */
    color:white;
    font-size: 16px;
    margin-right: 0.5rem;
}

.collapse-toggler.active span {
    transform: rotate(180deg);
}

.collapse-section {
    padding: 0 0.5rem;
    width: 98%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 14px;
    /* background-color: #f1f1f1; */
}

.collapse-section > .collapse-section {
    margin-left: 1rem;
}

.collapse-section > .collapse-toggler {
    font-size: 12px !important;
}

.style-toggler, .feature-toggler {
    display: flex;
    margin: 0.25rem 0rem;
    align-items: center;
    background: #0003;
    padding: 5px 0.1rem;
    border-radius: 5px;
}

.range-div {
    display: flex;
    align-items: center;
}

.feature-toggler {
    align-items: center;
    font-size: 15px;
}

.style-toggler:hover {
    background-color: #0000002e;
    cursor: pointer;
}

.style-toggler input[type="range"] {
    accent-color: var(--primary);
    background: #d7dcdf;
    width: 50px;
    margin-right: 1rem;
    height: 4px;
    border-radius: 5px;
    outline:none;
}

.mapboxgl-ctrl-geocoder {
    /* box-shadow: 0px 0px 0.1rem var(--light); */
    border-radius:5px;
}

.mapboxgl-ctrl-geocoder--input {
    background-color: #222;
}

.metric-marker {
    font-size: 1rem;
    font-weight: 800;
    color: white;
    font-family: monospace;
    width: 100px;
    color: black;
    margin-left: -20px;
    margin-top: -10px;
}


.legend-container {
    position: absolute;
    bottom: 50px;
    background-color: #000000c3;
    padding:5px;
    left: 0px;
    margin:10px;
    z-index: 2;
    border: 0px;

    border-radius: 5px;
    box-shadow: 0px 0px 0.25rem #7f7d7d;
}


.legend-header {
    /* background: #474747; */
    color: white;
    padding: 4px;
    border-bottom: 1px solid #717171;
}

.legend-body {
    max-height: 200px;
    overflow-y: auto;
    width: 250px;
}

.legend-item {
    /* display: flex; */
    /* flex-direction: column; */
    color:white;
}

.legend-item div {
    margin:5px 0px;
}

.legend-item img {
    /* width: 220px; */
    max-height: 600px;
    /* object-fit: contain; */
}

.leaflet-container {
    font-family: 'Poppins', sans-serif !important;
}
/* path */
/* path.leaflet-interactive {
    stroke-dasharray: 3 4;
    stroke: #000;
    stroke-width: 1.8px;
} */

.leaflet-marker-icon.leaflet-interactive.leaflet-div-icon {
    border-radius: 50%;
    height: 5px !important;
    width: 5px !important;
    margin-left: -2.5px !important;
    margin-top: -4.5px !important;
    border:1px solid white;
    background-color: #FBB03B;
}

.leaflet-top.leaflet-left {
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(116 116 116 / 48%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 0.25rem #7f7d7d;
}

/* .leaflet-control-zoom a {
    background-color: rgba(0, 0, 0, 0.7);
    color:white;
} */

.leaflet-control-zoom a:hover {
    background-color: #000000c3;
    color:white;
}

.leaflet-top.leaflet-left > .leaflet-bar.easy-button-container {
    margin:0px !important;
    border: none;
    padding:0px;
    border-bottom: 1px solid #7d7d7d;
    border-radius: 0px;
}

.leaflet-bar.easy-button-container .easy-button-button {
    font-size: 18px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 0px !important;
    color:white;
    background: transparent;
}

.easy-button-button.active {
    color:var(--primary) !important;
}

.easy-button-button span {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* scale-control */
.leaflet-control-scale {
    width: 200px;
    margin:0px 0px 10px 10px !important;
    text-emphasis: center;
    color:white;
}

.leaflet-control-scale .leaflet-control-scale-line {
    border-color: #ddd;
    color:rgb(232, 232, 232);
    text-shadow: none;
}

.leaflet-control-scale .leaflet-control-scale-line:first-child {
    width: 81% !important;
    background-color: #000000c3;
}

.leaflet-control-scale .leaflet-control-scale-line:last-child {
    width: 100% !important;
    background-color: #000000c3;
}
/* geocoder */
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
    display: inline-block;
    background: #020202ab !important;
    height: 40px !important;
    width: 100%;
    border-radius: 5px;
}

.leaflet-touch .leaflet-control-geocoder {
    max-width: 300px !important;
    width: 300px;
}


.leaflet-control-geocoder-alternatives li {
    white-space:normal;
}

.leaflet-control-geocoder-alternatives li:hover a, .leaflet-control-geocoder-selected a {
    color: #555 !important;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
    display: inline-block;
    background: white;
    height: 32px;
    width: 100%;
}

.leaflet-touch .leaflet-control-geocoder-icon {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    background: transparent !important;
    position: absolute;
    color:#fff !important;
}

.leaflet-control-geocoder-form input {
    font-size: 120%;
    border: 0;
    background-color: transparent;
    width: 246px;
    line-height: 40px;
    margin-left: 31px;
    color:#fff !important;
}

.leaflet-touch .leaflet-bar .leaflet-control-geocoder-icon {
    width: 30px;
    height: 40px;
    line-height: 40px;
}

.leaflet-touch .leaflet-control-geocoder {
    min-width: 30px;
    min-height: 30px;
    background: transparent;
    border: none;

    box-shadow: 0px 0px 0.25rem #999;
}

.leaflet-control-geocoder-alternatives {
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    background: #000000c3;
}

.leaflet-control-geocoder-alternatives li a {
    color:#ddd !important
}

.leaflet-popup-content {
    margin: 0px;
    max-width: 320px !important;
}

.leaflet-popup-content-wrapper {
    overflow: hidden;
}

.popup-header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.popup-content .popup-body {
    max-height: 300px;
    overflow-y: auto;
}

.leaflet-popup-content table {
    padding:10px;
}

.table tr .keys {
    font-weight: 600;
    text-transform: capitalize;
}

td.keys {
    text-transform: capitalize;
}

/* auxilliary classes */
.d-none {
    display: none !important;
}

.control-group {
    position: absolute;
    bottom: 0px;
    left:0px;
    margin:10px;
    z-index: 2;

    display: flex;
}

.open-pdf-view {
    background-color: #222;
    padding:0.5rem 0.75rem;
    box-shadow: 0px 0px 0.5rem #888;
    color:var(--white);
    border-radius: 6px;
    cursor: pointer;

    margin-right: 5px;
}

.open-pdf-view:hover {
    border:1px solid var(--light)
}

.close-btn, .download-btn {
    position: absolute;
    top:0px;
    right:0px;
    margin:10px;
    color:var(--white);
    cursor: pointer;
}

.download-btn {
    right:100px;
    background-color: var(--primary);
    border-radius: 5px;
    padding:5px;

    cursor: pointer;
}

.close-btn > *, .download-btn > *, .print-pdf > * {
    pointer-events: none;
}

.pdf-div  .close-btn {
    color:var(--black);
}

.print-pdf {
    position: absolute;
    top:0px;
    right:90px;
    margin:10px;
    color:var(--primary);
    background-color: var(--white);
    padding:0.5rem 0.75rem;
    box-shadow: 0px 0px 0.25rem #848484;
    border-radius: 5px;
    cursor:  pointer;
    z-index: 2;
}

.print-pdf:hover {
    border:1px solid var(--black)
}

/*  */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 5px;
    margin-right: 8px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: -5px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--primary);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


 /* detail section */
.image-modal {
    position: absolute;
    top:0vh;
    left:0px;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    z-index:4;
    background-color: rgba(7, 7, 7, 0.8);

    display: flex;
    align-items: center;
}

.modal-container {
    background-color: white;
    width: 780px;
    margin: 5vh auto;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.modal-container__inner {
    border:2px solid #474747;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.modal-container__inner #map {
    width: 100%;
    height: 100%;
}

.modal-container__inner #map .leaflet-control-container{
    display: none;
}


.image-section {
    background-color: #474747;
    height: 78%;
    border-bottom: 1.5px solid #222;
    overflow: hidden;
}

.image-section img {
    width: 100%;
}

.image-details {
    display: flex;
    height: 20%;
    /* border:1px solid #474747; */
    border-radius: 1px;
    margin:0px;
    background-color: white;
}

.image-details .detail-section {
    flex: 1;
    height: 110px;
    font-size: 10px;
    padding:5px;
}

.detail-section + .detail-section {
    border-left: 1px solid #222;
}

.detail-section img {
    height: 60px;
    width: 150px;

    margin:10px;
}

.wms-section {
    display: flex;
    position: absolute;
    display: none;
    bottom: 0px;
    right:50px;
    margin:20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 0.5rem #222;

    display: flex;
    flex-direction: column;
    padding:5px;

    font-size: 13px;
}

.wms-section .section-header {
    margin-bottom: 5px;
    color:var(--primary);
    font-weight: 600;
}

.wms-section form {
    display: flex;
    flex-direction: column;
}

.input-group  {
    margin:0px 0 10px;
}


/* spinner */
.spinner-container {
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.82);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:5px solid #f87217;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #f87217 #f87217;
    animation: spin infinite linear 1s;
}

#spinner-info {
    color:white;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }  

    to {
        transform: rotate(360deg);
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
  }